html {
    box-sizing: border-box;
    height: 100vh;
     margin: 0%;
    padding: 0%;

}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 0 0 20px #39ff14;
    color: #39ff14;
}
 h5 {
    padding-bottom: 0%;
    margin-bottom: 0%;
 }




#logo {
    width: 500px;
    height: 500px;
    display: flex;
    padding: auto 10px;
    margin: 20px auto 75px auto;
    align-items: center ;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px #39ff14 ;
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
 
}
#logo:hover {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}

main{
    padding-bottom: 60px;
}


                                     /* body stuff*/
body {
    position: relative;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
    background-color: #0f0f0f;
    color: #ffffff;
    overflow-x: hidden;
    }
body::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #39ff14, white, #39ff14 );
    box-shadow: 0 0 10px #39ff14;
}    
body::after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #39ff14, white, #39ff14 );
    box-shadow: 0 0 10px #39ff14;
}    


                         /*navigation stuff*/
nav li {
    border-left: 2px solid #000000;
    padding: 10px 15px;
    margin: 0%;
    font-weight: bold;
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
}
nav li:hover {
     transform: scale(1.05);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);

}                     
nav li:first-child {
    border-left: none;
}    
nav > ul {
    
    display: flex; 
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: #b0b0b0;
    background: linear-gradient(to right,#39ff14,  #ffffff, #39ff14);
    padding-left: 0%;
      transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
    box-shadow: 0 0 10px #39ff14;
    
}
nav > ul:hover {
    transform: scale(1.1);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}



a {
    font-style: italic;
    text-decoration: none;
    color: #ff0000;
    font-size: 1.2em;

     cursor: pointer;
    
    transition: all 0.3s ease; 
    
}
a:hover {
    
    
    text-shadow: 0 0 10px red,0 0 20px red ,0 0 40px red ;
    transform: scale(1.05);

}




ol, ul {
    list-style: none;
    margin: 0%;
    list-style-position: inside;
    color: red;
    

}

ol {
    list-style-type: upper-roman;
    padding-right: 40px;
}

#purpose {
    text-align: justify;
     
}

#whoiam {
    text-align: justify;
}

#how {
    text-align: center;
}

#sources {
   text-align: justify;
   margin-bottom: 50px;
}

table { 
    margin: auto;
    text-align: left;
     border: 2px solid #39ff14;
    box-shadow: 0 0 20px #39ff14;
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
    
}
table:hover {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}
 
th, tr, td {
   border: 2px solid #39ff14;
}


                      /*project stuff*/
#projects {
    text-align: center;
    padding-bottom: 50px;
    
}
#myprojects {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    
}
.projectitem {
    
    width: 200px;
    height: 210px;
    background: #1e1e1e;
    border-radius: 12px;
    color: white;
    padding: 20px;
    box-shadow: 0 0 10px #39ff14aa;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.projectitem:hover {
    transform: scale(1.05);
    box-shadow:   0 0 10px #39ff14aa; ;
}
.projectitem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #ff0000;   
}
.projectitem h3 {
    margin: 2px auto 5px auto;
    padding-bottom: 2px;
    font-size: 1.2rem;
    color: #39ff14;
}
.projectitem p {
    font-size: 0.95rem;
    color: #ccc;
}


                       /*form stuff*/

form {
    text-align: center;
   margin: 50px auto 0 auto;
   padding-bottom: 0%;
}
#radio {
    margin: 5px auto 50px auto;
}
button {
    background: #1f1f1f;
    color: #39ff14;
    border: 2px solid #39ff14;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px #39ff14, 0 0 15px #39ff14;
    transition: all 0.3s ease;
    text-transform: uppercase; 
    letter-spacing: 1px;
}
button:hover {
    background: #39ff14;
    color: #000000;
    box-shadow: 0 0 10px #39ff14,0 0 20px #39ff14 ,0 0 40px #39ff14 ;
    transform: scale(1.05);
}

footer {
    text-align: center;
}

#social {
    padding-right: 35px;
    margin: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.contacts {
    text-align: center;
  
}
#contactlinks {
    margin: 10px auto;
}


p {
   
    text-align: center;
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
}
p:hover {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}



.container {
    display: flex;
    gap: 20px;
    padding: 40px;

}

.leftside {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.side {
    flex: 1;
    height: 60vw;
    background: #1e1e1e;
    border: 4px solid #b0b0b0;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px #39ff14aa;
    align-items: center;
    justify-content: center;
}

.content  {
    flex: 1;
    height: auto;
    background: #1e1e1e;
    border: 4px solid #b0b0b0;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px #39ff14aa;
}

.bottom   {
    flex: 1;
    height: 500px ;
    background: #1e1e1e;
    border: 4px solid #b0b0b0;
    border-radius: 10px;
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px #39ff14aa;
    align-items: center;
    justify-content: center;
}

.side, .content, .bottom {
    width: 45vw;
    max-width:100%;
     box-shadow: 0 0 15px #39ff14aa;
}

section {
     transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
}
section:hover {
      transform: scale(1.02);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}

#radio, #comments {
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
}
#radio:hover, #comments:hover {
    transform: scale(1.05);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}

dl, dt, dd {
    transition: all 0.3s ease;
    filter: brightness(100%) contrast(100%);
}
dl:hover, dt:hover, dd:hover {
    transform: scale(1.01);
    filter: brightness(110%) contrast(120%) saturate(130%) blur(0.3px);
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .side, .bottom, .content {
    width: 95vw;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .side {
    order: 1;
  }

  .content {
    order: 2;
  }

  .bottom {
    order: 3;
  }
}
